[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
innodb_doublewrite=1
#innodb_locks_unsafe_for_binlog=1
query_cache_size=0
query_cache_type=0
bind-address=0.0.0.0
#console=1
#general_log=1
#general_log_file=/dev/stdout
#log_error=/dev/stderr
#collation-server=utf8_unicode_ci
#character-set-server=utf8
#datadir=/var/lib/mysql
#innodb_log_file_size=100M
#innodb_file_per_table
#innodb_flush_log_at_trx_commit=0
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://sst_node_ips"
wsrep_cluster_name='rnctechdb_cluster'
wsrep_node_address='sst_node_ip'
wsrep_node_name='sst_node_name'
wsrep_sst_method=rsync
wsrep_sst_auth=sst_user:sst_node_pwd

